<h1>{{ title }}</h1>
<div *ngIf="todos.length==0">
    <p>Sem tarefas</p>
</div>
<ul>
    <li *ngFor="let todo of todos">
        <h1> {{todo.title}}</h1>
        <p>{{todo.description}}</p>

        <button (click)="markAsDone(todo)" *ngIf="!todo.done"> Concluir</button> |
        <button (click)="markAsUndone(todo)" *ngIf="todo.done"> Refazer</button> |
        <button (click)="remove(todo)">Remover</button>
    </li>
</ul>
<button (click)="openModal()"> Adicionar nova + </button>

<section *ngIf="modalOn">
    <app-form></app-form>
    <div id="overlay" (click)="closeModal()">FECHAR</div>
</section>