footer{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;

}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
footer img{
    width: 54px;
    margin: 10px 16px;
}