
form {
    width: 60%;
    background-color: #089790;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 5;

    border-radius: 8px;
    position: absolute;
    bottom: 18%;
    left: 20%;
}
.field{
    position: relative;
}
input, textarea {
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    margin: 20px 0;
    resize: none;
    width: 100%;
}
textarea{
    height: 350px;
}

label{
    position: absolute;
    left: 1rem;
    top: 1.6rem;

    color: #fff;
    background-color: #089790;
    font-size: 20px;
    transition: all .6s;
}

small{
    color: rgb(255, 255, 255);
}

input:focus-visible, textarea:focus-visible{
    outline: none;
}

input:focus-visible ~ label, 
input:valid ~ label, 
textarea:focus-visible ~ label,
textarea:valid ~label{
    top: 8px;
    font-size: 14px;
    transition: all .6s;
    padding:0 5px;

}

@media only screen and (max-width: 600px) {
    form{
        width: 90%;
        left: 5%;
        padding: 2rem;
    }
}